.root {
  padding: 100px 0 60px;
  width: 1000px;
  margin: 0 auto;
}
.goBack {
  display: inline-flex;
  align-items: center;
  color: rgba(119, 98, 140, 0.5);
  margin-right: 20px;
}
.goBack:hover {
  color: #77628c;
}
.promptText {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 700;
  color: #77628c;
  display: inline-flex;
  align-items: center;
}
.noteText {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}
.infoTextBox {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(119, 98, 140, 0.05);
  border: 1px solid rgba(119, 98, 140, 0.5);
  border-radius: 5px;
}
.infoLabel {
  font-weight: 600;
  color: #77628c;
  margin-right: 15px;
}
.infoValue {
  padding: 1px 3px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 8px;
}
.picRoot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picBox {
  background-color: rgba(119, 98, 140, 0.05);
  border: 1px solid rgba(119, 98, 140, 0.5);
  border-radius: 5px;
  min-height: 350px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.emptyPicBox {
  margin-top: 20px;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  background-color: rgba(119, 98, 140, 0.05);
  border: 1px solid rgba(119, 98, 140, 0.5);
  border-radius: 5px;
  min-height: 350px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.antBtn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 32px;
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.antBtn, .antBtn:active, .antBtn:focus {
  outline: 0;
}








/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
